# Name <email> <email2>
#   Use "Name" and "<email>" for any commit with the address "<email2>".  This is useful
#   when a person has used more than one email address.

Jia-Chang Chang <jiachanggit@gmail.com> <louisxchang@gmail.com>